
@{
    ViewData["Title"] = "Index Post";
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <a class="btn btn-primary mb-1"  asp-controller="Post" asp-area="Admin"><i class="fa-solid fa-plus"></i> Add Post</a>
    <!-- Page Heading -->
    <div class="card">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Lista de Post</h4>
        </div>
        <div class="card-body">
           

        </div>


    </div>



</div>
<!-- /.container-fluid -->