@{
    ViewData["Title"] = "Access Denied";
}
<div class="container-fluid">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="401">401</div>
        <p class="lead text-gray-800 mb-5">Página não AUTORIZADA.</p>
        <p class="text-gray-500 mb-0">Parece que você encontrou uma falha na matrix...</p>
        <a asp-action="Index" asp-controller="Post" asp-area="Admin">&larr; Volte de onde veio!!!</a>
    </div>

</div>