
@model Blog_Escola.ViewModels.RegisterVM

@{
    ViewData["Title"] = "Register User";
}
<!-- Begin Page Content -->
<div class="container-fluid mb-4">
    <a class="btn btn-outline-secondary mb-1" asp-action="Index" asp-controller="User" asp-area="Admin"><i class="fa fa-arrow-left"></i> Lista de Usuários </a>
    <!-- Page Heading -->
    <div class="card ">
        <div class="card-header bg-gradient-secondary" > 
            <h4 class="card-title text-white">Cadastro de Usuários</h4>
        </div>
        <div class="card-body ">
            <form asp-action="Register" asp-controller="User" asp-area="Admin" >
                <div class="mb-2">
                    <label>Nome</label>
                    <input type="´text" asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Sobrenome</label>
                    <input type="´text" asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>E-mail</label>
                    <input type="´email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Nome do Usuário</label>
                    <input type="´text" asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Senha</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>É Administrador?</label>
                    <input type="checkbox" asp-for="IsAdmin" />
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-secondary">Criar Usuário</button>
                </div>
            </form>            

        </div>
        
        
    </div>

    

</div>
<!-- /.container-fluid -->