@model Blog_Escola.ViewModels.ResetPasswordIM

@{
    ViewData["Title"] = "Reset Password";
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <a class="btn btn-primary mb-1" asp-action="Index" asp-controller="User" asp-area="Admin"><i class="fa-solid fa-plus"></i> Lista de Usuários </a>
    <!-- Page Heading -->
    <div class="card ">
        <div class="card-header bg-primary">
            <h4 class="card-title text-white">Trocar Senha</h4>
        </div>
        <div class="card-body ">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="UserName" />
            <form asp-action="ResetPassword" asp-controller="User" asp-area="Admin">
                <div class="mb-2">
                    <label>Nome do Usuário</label>
                    <input type="text" asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Nova Senha</label>
                    <input type="password" asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="mb-2">
                    <label>Confirmar Nova Senha</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

            
                <div class="mb-2">
                    <button type="submit" class="btn btn-primary">Reset</button>
                </div>
            </form>

        </div>


    </div>



</div>
<!-- /.container-fluid -->
